<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <solution>
    <!-- Exclude packages from source control because they are too big or part of framework. -->
    <add key="disableSourceControlIntegration" value="true" />
  </solution>

  <packageSources>
    <!-- Ensure official source is used. -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <packageRestore>
    <!-- Automatically restore packages during build. -->
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>

</configuration>